.page {
  --background-color: #FFF;
  --color_Night-Rider: #333333;
  --color-white: #FFF;
  --color-orange: #FF9900;
  --color-light-gray: #CACACA;
  --color-dark-orange: #E1670E;
  --color-eerie-black: #222222;
  --color-gray: #666666;
  --color-black: black;
}
